.my-site-meta {
    padding: 20px 0;
    color: #fff;
    background: #E49A9A;
    margin: 0;
  	text-align: center;
}

@media (max-width: 767px) {
  .my-site-meta {
    text-align: center;
  }
}

.my-headband{
	height: 3px;
	background: #B5B5B5;
}

.post-more-link .my-btn {
	color: #e49a9a;
	font-size: 14px;
	background: #fff;
	border-radius: 2px;
	line-height: 2;
}

.my-btn {
	display: inline-block;
	padding: 0 20px;
	font-size: 14px;
	color: #fff;
	background: #222;
	border: 2px solid #e49a9a;
	text-decoration: none;
	border-radius: 0;
	transition-property: background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
}

.my-btn:hover,
.post-more-link .my-btn:hover {
  border-color: #e49a9a;
  color: #fff;
  background: #e49a9a;
}

.demo-card{
	border: 2px solid #eee;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #eee;
	margin: 20px 20px 40px 20px;
}